// -----------------------------------------------------------------------------
// This file contains all styles related to the ofter component.
// -----------------------------------------------------------------------------
.ofter {
    .ofters {
        .header {
            color: $brand-color;
            font-family: $main-font;
            font-size: 2em;
        }

        .text {
            font-family: $main-font;
            font-size: 1em;
        }
    }

    .side-image {
        img {
            float: right;
        }
    }
}

@media (max-width: 991px) {
    .ofter {
        .side-image {
            img {
                float: none;
                margin: 0 auto;
            }
        }
    }
}

#ofter {
    padding-top: $spacing-padding;
    padding-bottom: $spacing-padding;
}
