// -----------------------------------------------------------------------------
// This file contains all styles related to the streamer of the week component.
// -----------------------------------------------------------------------------
#sotw {
    padding-top: 80px;
    padding-bottom: 50px;
}

.sotw {
    // background: linear-gradient(to bottom, rgba(125,185,232,0) 75%,rgba(255,235,132,1) 100%);
    .container {
        padding-right: 18px;
        padding-left: 18px;
    }

    .header {
        font-family: $main-font;
        font-size: 2em;
        color: $brand-color-alt;
        padding-bottom: 12px;
        font-weight: 700;
    }

    .username {
        font-family: $second-font;
        font-size: 1.5em;
        display: inline-block;
    }

    .currently {
        color: #656565;
        font-family: $second-font;
        font-size: 1.5em;
        display: inline-block;
    }

    .game {
        font-family: $second-font;
        font-size: 1.5em;
        display: inline-block;
    }

    .bio {
        font-family: $main-font;
        font-size: 1.25em;
        display: inline-block;
    }

    a {
        color: #3a3a3a;
    }

    a:hover {
        text-decoration: none;
    }
}
