// -----------------------------------------------------------------------------
// This file contains all styles related to the staff component.
// -----------------------------------------------------------------------------
.our-staff {
    background: $content-background;

    .header {
        font-family: $second-font;
        color: $brand-color;
        font-size: 2.5em;
    }

    .profile-picture {
        img {
            max-height: 50%;
            max-width: 50%;
            margin: 0 auto;
        }
    }

    .name {
        font-family: $main-font;
        color: #8EB3FF;
        font-weight: 700;
        font-size: 1.5em;
    }

    .rank {
        font-family: $main-font;
        font-size: 1em;
        color: #ffffff;
    }

    .staff {
        padding: 10px;
    }
    .social {
      padding-left: 16px;
      font-size: .75em;
      color: #ffffff;
    }
}

#our-staff {
    padding-top: $spacing-padding;
    padding-bottom: $spacing-padding;
}
