// -----------------------------------------------------------------------------
// This file contains all styles related to the video header component.
// -----------------------------------------------------------------------------
.video-header {
  background: $brand-color-alt;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 150px;
  padding-bottom: 200px;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  .overlay {
    z-index: 100;
    background: rgba(#000000, 0.45);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .inner {
    background-color: transparent !important;
    padding-top: 150px;
    .header {
      font-family: $main-font;
      color: #ffffff;
      font-weight: 700;
      font-size: 2.5em;
    }
    .sub-header {
      font-family: $second-font;
      color: #ffffff;
      font-size: 1.25em;
    }
  }
}

#video-header {
  .jumbotron {
    background-color: transparent;
  }
}

@media (max-width: 538px) {
  .video-header {
    video {
      height: 350px;
    }
  }
}
@media (max-width: 450px) {
   .video-header {
     video {
       width: 500px;
     }
   }
}
@media (max-width: 320px) {
  .video-header {
    video {
      height: 382px;
      width: 640px;
    }
    .inner {
      padding-top: 75px;
    }
  }
}
