// -----------------------------------------------------------------------------
// This file contains all styles related to the video header component.
// -----------------------------------------------------------------------------
.video-header {
    text-align: center;
    color: white;
    background: $brand-color-alt;
    height: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
    overflow: hidden;
    position: relative;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .text {
        display: inline-block;
    }

    .inner {
        background-color: transparent !important;
        padding-top: 20px;
        padding-bottom: 0px;

        .header {
            font-family: $main-font;
            color: $brand-color;
            font-weight: 700;
            font-size: 2.5em;
        }

        .sub-header {
            font-family: $second-font;
            color: #000000;
            font-size: 1.25em;
        }
    }
}

#video-header {
    padding-top: 80px;
    padding-bottom: 50px;

    .jumbotron {
        background-color: transparent;
    }
}
