<!-- Jumbotron cta -->
<div id="cta">
  <div class="jumbotron cta">
    <div class="container">
      <div class="col-lg-12 text-center">
        <div class="inner">
          <div class="text">
            <h1 class="header">{{ site.data.settings.cta.header }}</h1>
            <h2 class="sub-header">{{ site.data.settings.cta.sub-header }}</h2>
          </div>
        </div>
      </div>
      <div class="cta-button">
        <a class="btn btn-primary btn-lg btn-cta" href="{{ site.data.settings.cta-button.url }}" role="button">{{ site.data.settings.cta-button.title }}</a>
      </div>
    </div>
  </div>
</div>
