<!-- Jumbotron -->
<div id="hero">
  <div class="jumbotron hero">
    <div class="container">
      <div class="inner text-center">
        <h1 class="header">{{ site.data.settings.hero.header }}</h1>
        <h2 class="sub-header">{{ site.data.settings.hero.sub-header }}</h2>
      </div>
      <div class="cta-button text-center">
        <a class="btn btn-primary btn-lg btn-cta" href="{{ site.data.settings.cta-button.url }}">{{ site.data.settings.cta-button.title }}</a>
      </div>
    </div>
  </div>
</div>
