<div class="our-staff" id="our-staff">
  <div class="container">
    <div class="col-md-12">
      <div class="header text-center">
        {{ site.data.settings.staff-header }}
      </div>
    </div>
    {% for item in site.data.settings.staff %}
    <div class="col-xs-6 col-md-4 staff">
      <div class="profile-picture">
        <img class="img-responsive img-circle" src="{{ site.subpath}}/assets/images/staff/{{ item.name | downcase }}.png" alt="{{ item.name }} Profile Picture">
      </div>
      <div class="name text-center">
        {{ item.name }}
        {% if item.has_twitter %}
        <a href="{{ item.twitter }}" class="social">
          <i class="fab fa-twitter"></i>
        </a>
        {% endif %}
      </div>
      <div class="rank text-center">
        {{ item.rank }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
