<div id="sotw" class="sotw">
  <div class="container-fluid">
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="twitch_stream">
          <iframe src=""></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="header">
        {{ site.data.settings.sotw-header-1 }}
      </div>
      <div class="text">
        {% for section in site.data.sotw-text-1 %}}
        <p>
          (( section | textilize }}
        </p>{% endfor %}
      </div>
      <div class="header">
        {{ site.data.settings.sotw-header-2 }}
      </div>
      {% for section in site.data.sotw-text-2 %}}
      <p>
        (( section | textilize }}
      </p>{% endfor %}
    </div>
  </div>
</div>
{% include sotw_script.html %}
