<script>
  // Twitch API
  var twitchKey = "{{ site.data.settings.twitchKey }}";
  var twitchUserID = "{{ site.data.settings.twitchUserID }}";
  var twitchAccept = "application/vnd.twitchtv.v5+json"
  var twitchKraken = 'https://api.twitch.tv/kraken'
  $.ajaxSetup({
    headers: {
      'Accept': twitchAccept,
      'Client-ID': twitchKey
    }
  });
  $.getJSON(twitchKraken + '/channels/' + twitchUserID, function (json) {
    var twitchGame = json.game
    var twitchBio = json.about
    var twitchUserName = json.name
    var twitchDisplayName = json.display_name
    var twitchProfilePictrue = json.logo
    $('.twitch_stream iframe').attr('src', "https://player.twitch.tv/?channel=" + twitchUserName + "&muted=true");
    console.log(twitchDisplayName + ' Currnetly playing' + twitchGame)
  });

</script>
