<script>
  // Twitch API
  var twitchKey = "{{ site.data.settings.twitchKey }}";
  var twitchUserID = "{{ site.data.settings.twitchUserID }}";
  var twitchAccept = "application/vnd.twitchtv.v5+json"
  var twitchKraken = 'https://api.twitch.tv/kraken'
  var twitchURL = 'https://www.twitch.tv'
  $.ajaxSetup({
    headers: {
      'Accept': twitchAccept,
      'Client-ID': twitchKey
    }
  });
  $.getJSON(twitchKraken + '/channels/' + twitchUserID, function (json) {
    var twitchUserName = json.name
    $('#usernameLink').attr('href', twitchURL + '/' + twitchUserName)
  });

</script>
