<div id="sotw" class="sotw">
  <div class="container-fluid">
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="twitch_stream">
          <iframe src=""></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="header">
        {{ site.data.settings.sotw-1.header }}
      </div>
      <div class="text">
        {% for section in site.data.settings.sotw-1.text %}
        <p>
          {{ section | textilize }}
        </p>{% endfor %}
      </div>
      <div class="header">
        {{ site.data.settings.sotw-2.header }}
      </div>
      <div class="text">
        {% for section in site.data.settings.sotw-2.text %}
        <p>
          {{ section | textilize }}
        </p>{% endfor %}
      </div>
    </div>
  </div>
</div>
{% include sotw_script.html %}
