<div id="sotw" class="sotw">
  <div class="container">
    <div class="header">
      {{ site.data.settings.sotw-header }}
    </div>
  </div>
  <div class="container">
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="twitch_stream">
          <iframe src=""></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="twitch_info">
          <div class="username" id="username">
          </div>
          <div class="currently">
            Currently streaming
          </div>
          <div class="game" id="game">
          </div>
        </div>
      </div>
      <div class="row">
        {% if site.data.settings.twitchBio == true %}
        <div id="bio">
        </div>
        {% else %}
        <div class="bio">
          {{ site.data.settings.customBio }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% include sotw_script.html %}
</div>
