<div class="container">
  <div class="col-md-8">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.twitch.tv/?channel={{ site.data.settings.twitchUsername }}&muted=true"></iframe>
      </iframe>
    </div>
  </div>
  <div class="col-md-4">
    <div class="twitch_info">
      <div class="username" id="username">
      </div>
      <div class="currently">
      </div>
      <div class="game">
      </div>
    </div>
  </div>
</div>
{% include sotw_script.html %}
