// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Fonts
$main-font: "Monseratte", sans-serif;
$second-font: "Lato", sans-serif;
$legal-font: "Times New Roman", sans-serif;

// Social Icons Color
$twitter-color: #1da1f2;
$twitch-color: #6441a5;
$youtube-color: #cd201f;
$github-color: #333;
$google-plus-color: #dd4b39;
$facebook-color: #3b5998;
$spotify-color: #1db954;
$behance-color: #1769ff;
$instagram-color: #405de6;
$social-icon: #ffffff;

// Footer Text
$footer-color: #ffffff;
$footer-color_link: #f2f2f2;
$footer-background: #0c1e42;

// Brand Color
$brand-color: #FBD511;
$brand-color-alt: #0c1e42;

// Menu Links
$nav-bgDefault: #ffffff;
$nav-bgHighlight: #ffffff;
$nav-colDefault: #FBD511;
$nav-colHighlight: #2d3b46;
$nav-dropdown: true;
$nav-bgScroll: #0c1e42;
$nav-bgScroll-Hightlight: #0c1e42;
$nav-colScroll: #ffffff;
$nav-colScroll-Hightlight: rgb(255, 236, 143);

// Buttons
$button_font: #ffffff;
$button_font_effect: #ffffff;
$button_background: #FBD511;
$button_background_effect: transparent;

// Spacing
$spacing-padding: 38px;
$content-background: #0c1e42;
